[submodule "retroarch"]
	path = retroarch
	url = https://github.com/libretro/RetroArch
[submodule "gambatte"]
	path = gambatte
	url = https://github.com/bardeci/gambatte-dms
[submodule "msx"]
	path = msx
	url = https://github.com/pthalin/bittboy-msx
[submodule "j2me"]
	path = j2me
	url = https://github.com/pthalin/bittboy-j2me
[submodule "fuse-od"]
	path = fuse-od
	url = https://github.com/salvacam/fuse-od
[submodule "speccy"]
	path = speccy
	url = https://github.com/salvacam/speccy
[submodule "pocketsnes"]
	path = pocketsnes
	url = https://github.com/m45t3r/PocketSNES
[submodule "snes9x4d"]
	path = snes9x4d
	url = https://github.com/m45t3r/snes9x4d-miyoo
[submodule "dingux-cap32"]
	path = dingux-cap32
	url = https://github.com/salvacam/dingux-cap32
